# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# Vector Stores / Indexes
# ----------------------------
vectorstore/
faiss_index/
*.faiss
*.index

# ----------------------------
# Temporary / Uploaded Files
# ----------------------------
*.tmp
*.temp



